
.tri-state-toggle input {
  height: 16px;
  width: 16px;
  appearance: none;
  background-color: #746d6d;
  border-radius: 50%;
  opacity: 0;
}
.tri-state-toggle input:hover {
  cursor: pointer;
}
.tri-state-toggle {
  display: flex;
  justify-content: center;
  /* border: 3px solid #b2b2b2; */
  border-radius: 50px;
  background-color: #a5c97f;
  height: fit-content;
  padding: 3px;

}
.tri-state-toggle #one {
  opacity: 1;
}

.dot-prior{
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

#d0.dot-prior{
  background-color: #e36c6c;
}
#d1.dot-prior {
  background-color: #fad67c;
}
#d2.dot-prior {
  background-color: #a5c97f;
}