@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: url(images/homeBG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 80px;
    padding-bottom: 60px; */

    background: #EEEEEE;
}

.nav-bar {
    height: 64px;
    position: relative;
    z-index: 1;
    background-color: #fff;
    /* border: 1px solid red; */
}
.nav-bar {
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.user-info img {
    opacity: 80%;
    margin-right: 5px;
}
.user-info .user-title {
    text-align: right;
    font-size: 14px;
}
.login-logout-button {
    cursor: pointer;

    border-radius: 40px;
    border: none;
    /* background: linear-gradient(0deg, #55e7fc, #0162c8); */
    padding: 10px 20px;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
}
#logout.login-logout-button {
    background: #B2B2B2;
}
#login.login-logout-button {
    background: #3C88D4;
}


div::selection {
    color: #fff;
    background: #3C88D4;

}

.wrapper {
    height: 80vh;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    justify-self: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
}

.head-box {
    height: 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #b2b2b2;
    gap: 1rem;
    padding: 25px 0px 10px;
}


@media only screen and (max-width: 900px) {

    .nav-bar {
        padding: 0px 12px;
    }

    .user-info .user-title{
        content-visibility: hidden;
    }
    
    .wrapper {
        width: 100vw;
        height: 99vh;
        margin: 0px;
    }

    .course-submit {
        width: 100%;
    }

    .filter {
        width: 100%;
    }

    .task-table-container::-webkit-scrollbar{
        width: 7px;
    }

    .login-logout-button {
        padding: 5px 10px;
    }
}