.prior {
  /* width: 100%;
  height: 100%;   */
  text-align: right;
  box-sizing: border-box;
  padding-top: 10px;
  /* background: #ffffff; */
  display: flex;
  flex-direction: column;
  margin: auto;
}

.prior input {
  display: none;
}

.prior .button {
  display: inline-block;
  position: relative;
  height: 5px;
  margin: 3px;
  cursor: pointer;
  padding: 5px;
}

.prior .button span {
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 0;
  top: 5%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 100%;
  /* background: #eeeeee; */
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: ease .3s;
}

.prior .button span:hover {
  padding: 10px;
}

.prior .orange .button span {
  background: #E69090;
}

.prior .amber .button span {
  background: #F7D98D;
}

.prior .lime .button span {
  background: #C3E1B5;
}

.prior .layer {
  /* display: block; */
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}

.prior .orange input:checked~.layer {
  background: #e36c6c;
}

.prior .amber input:checked~.layer {
  background: #fad67c;
}

.prior .lime input:checked~.layer {
  background: #a5c97f;
}