@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
} /* Selects all elements */

.navbar-background {
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    /* border: 1px solid red; */

    background-color: #F7F7F7;
    position: absolute;
    z-index: -1;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 70px;
}
.background img {
    width: 100%;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.nav-bar {
    height: 60px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 1;
}

.priority-order,
.tag-box,
.text-to-add,
#add-newrow {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #AAA;
    font-size: 13px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    opacity: 80%;
    margin-right: 5px;
}

.user-info .user-title {
    font-size: 13px;
    font-weight: 400;
}


.title {
    margin-top: 150px;
    width: 330px;
    /* border: 1px solid red; */
}

.title h1 {
    font-size: 64px;
    font-weight: 800;
}

.title .line {
    border-bottom: 3px solid black;
    display: block;
}

.main-table tr:hover {
    background-color: #bebebe
}

.main-table {
    margin-top: 100px;
    width: 100%;
    border:#2B3F31;
    border-collapse: collapse;
    background-color: #F7F7F7;
    text-align: left;
    border-radius: 15px
    /* border: 1px solid red; */
}

.main-table th {
    font-size: 32px;
    font-weight: 800;
}

.main-table td {
    font-size: 24px;
    font-weight: 400;
}

#green {
    background-color: #DEECDC;
    color: #2B3F31;
}

#red {
    background-color: #FAE3DE;
    color: #551C18;
}

#yellow {
    background-color: #FAEDCC;
    color: #3F2F20;
}