/* <div class="control-bar"> */

.course-submit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 48px;
    align-items: center;
    padding: 0px 25px;
}

.filter {
    display: flex;
    justify-content: space-around;
    min-width: fit-content;
    /* padding: 1rem; */
    margin-top: 10px;
}
.filter span {
    margin: 0px 8px;
    font-size: 17px;
    color: #444444;
    cursor: pointer;
    padding: 1%;
}
.filter span:first-child {
    margin-left: 0;
}

.filter span:hover{
    color: #3C88D4;
    transform: translateY(-3px);
}

.filter span.checked{
    color: #3C88D4;
}

#course-option {
    width: 100%;
    min-width: 40%;
    padding: 14px 34px 14px 14px;
    border-radius: 0.75rem;
    border: 2px solid #B2B2B2;
    font-size: 17px;

    appearance: none;
    outline: 0;
    color: #B2B2B2;
}

.add-btn {
    display: flex;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
    letter-spacing: 1px;
    transition: transform 0.25s ease;
    background: #3C88D4;
    align-items: center;
    appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    justify-content: center;
    padding: calc(.5em - 1px) 1em;
}
.add-btn:hover {
    background: #7f9fc0;
}