/* in HTML: <table class="task-box"></table> */

/* .task-box */
.task-box {
    margin-right: 5px;
    margin-top: 10px;
    padding: 0 20px 0px 25px;
    position: relative;
    cursor: pointer;
}
.task-table-container{
    overflow-x: hidden;
    overflow-y:auto;
    min-height: calc(100% - 240px);
    max-height: calc(100% - 240px);
}
.task-table-container::-webkit-scrollbar{
    width: 15px;
}
.task-table-container::-webkit-scrollbar-track{
    border-radius: 20px;
}
.task-table-container::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background: #e7e7e7;
}
.task-table-container::-webkit-scrollbar-thumb:hover{
    background: #bcbcbc;
}
.task-box .task {
    list-style: none;
    font-size: 17px;
    margin-bottom: 18px;
    padding-bottom: 16px;
    align-items: flex-start;
    border-bottom: 1px solid #B2B2B2;
}
.task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
}
.task-box .task label {
    display: flex;
    align-items: flex-start;
}
.task-box .task:last-child .task-menu {
    bottom: 0;
    transform-origin: bottom right;
}
.task-box .task:first-child .task-menu {
    bottom: -65px;
    transform-origin: top right;
}


/* in JS: <tr class="task"> */

.task-first-column{
    width: 30%;
    padding-right: 3%;
    /* border: 1px solid red; */
    vertical-align: top;
}

table {
    display: table;
    width: 100%;
    border: none;
}

.task-first-column .checkbox {
    width: 24.5px;
    background-color: black;
}

#title {
    font-size: 20px;
}
#title.checked {
    text-decoration: line-through;
}

.task-course {
    font-size: 12px;
    white-space: nowrap;
    width: 16vh;
    display: flex;
}
.task-course #course{
    overflow: hidden;
    text-overflow: ellipsis;
}

.task label input {
    margin-top: 7px;
    accent-color: #3C87FF;
}
.task label p {
    user-select: none;
    margin-left: 12px;
    word-wrap: break-word;

}

/* .task-mid-column */
.task-mid-column {
    color: #696A6A;
    vertical-align: top;
    /* border: 1px solid red; */
}

/* .task-last-column */
.task-last-column{
    width: 5vh;
    vertical-align: top;
    /* border: 1px solid red; */
}

.settings {
    position: relative;
    cursor: pointer;
    text-align: right;
}
.settings :where(i, li) {
    cursor: pointer;
}

/* .task-menu */
.threedot {
    width: 25px;
}

.task-menu {
    z-index: 10;
    position: absolute;

    right: -5px;
    bottom: -65px;
    padding: 5px;
    margin-right: 30px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.2s ease;

    background: #fff;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid #EEEEEE;
    
}
.task-menu li {
    list-style-type: none;
    cursor: pointer;

    font-size: 16px;

    height: 25px;
    width: 100px;
    padding: 17px 15px;
    padding-left: 0%;
    margin-bottom: 2px;
    border-radius: 3px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.task-menu.show {
    transform: scale(1);
}
.task-menu li:last-child {
    margin-bottom: 0;
}
.task-menu li:hover {
    background: #f5f5f5;
}
.task-menu img {
    width: 30px;
    margin-right: 10px;
}